.App {
  text-align: center;
}

.app__form {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e9e9eb;
  margin: 20px ;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}